<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="creativestudioaq.alarmapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/alice_brandicon2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui_page.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui_page.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui_page.TutorialActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            </activity>

        <activity android:name=".ui_page.MakeAlarmActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui_page.AlarmSoundActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui_page.FeelTalkActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui_page.NameActivity" android:screenOrientation="portrait" android:theme="@style/Theme.UserDialog"/>
        <activity android:name=".ui_page.VersionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui_page.WhoMakeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui_page.AlarmAlertActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui_page.AlarmAlertActivity2" android:screenOrientation="portrait"/>
        <activity android:name=".ui_page.SimpleDialog" android:screenOrientation="portrait" android:theme="@style/Theme.UserDialog"/>
        <activity
            android:name=".ui_page.AlarmPreferencesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui_page.MainActivity" />
            </activity>

        <service
            android:process=".serviceProcess"
            android:name=".tool.AlarmService"
            android:icon="@drawable/ic_launcher"
            android:label="AliceAlarm">
        </service>
        <receiver android:name=".tool.AlarmServiceBroadcastReciever" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <receiver android:name=".tool.AlarmAlertBroadcastReciever" >
        </receiver>

    </application>

</manifest>
